html,
body {
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}
.content {
  width: 100%;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex: 10;
  flex-flow: column;
  justify-content: space-between;
}
header {
  flex: 1;
  justify-content: flex-end;
}
header .header {
  height: 10%;
  background: #ff392a;
  display: flex;
  align-items: center;
}
header .header .headd {
  width: 57%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
header .header a img {
  width: 10px;
  margin-left: 20px;
}
header .header span {
  color: #ffffff;
  font-size: 15px;
}
article {
  overflow-y: auto;
}
